spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml
    default-schema: public

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  api_docs:
    enabled: true

server:
  port: 8081

scoring:
  service:
    url: http://localhost:8080/calculator/calc

pre-scoring:
  service:
    url: http://localhost:8080/calculator/offers